@import "../../components/Styles/mixins";

.poster-container {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

// .imgPoster {
//   width: 100%;
//   height: 40vh;
//   border-radius: 20px;
// }

// .row {
//   width: 25%;
//   margin-left: 10px;
// }
