@import "../../components/Styles/mixins";
@import "../../components/Styles/variables";

.poster-container {
  width: 100%;
  margin: $marginCenter;
  background-color: $secondaryFontColor;
  color: $primaryFontColor;

  .poster-info {
    @include flexx($dir: row, $justify: center, $align: flex-start);
    &__filter {
      width: 20%;
    }
    &__results {
      width: 70%;
      &__banner {
        @include flexx($dir: row, $justify: flex-start, $align: flex-start);
        gap: 30px;
        margin-bottom: 30px;

        & .imgPoster {
          width: 15%;
          height: 10%;
        }
        &__details {
          width: 60%;
          // height: 180px;
          // overflow-y: hidden;
          & p > button {
            background-color: $primaryFontColor;
            color: $secondaryFontColor;
            padding: 2px;
            margin-left: 3px;
            border: 1px solid $secondaryFontColor;
            border-radius: 25px;
            font-size: 0.7em;
            &.none {
              display: none;
            }
          }
          &__poster-btn {
            @include flexx($dir: row, $justify: flex-start, $align: center);
            gap: 30px;
            transition: $transition;
            & .btnPrimary:hover {
              transform: translateY(-10px);
              transition: $transition;
              // trebam smisliti sta cu sa hover bojama
            }
          }
        }
      }
    }
  }
}
