@import "../../components/Styles/mixins";
@import "../../components/Styles/variables";

.poster-container {
  width: 100%;
  min-height: 83vh;
  margin: $marginCenter;
  background-color: $secondaryFontColor;
  color: $primaryFontColor;

  .poster-search {
    padding: 25px;
  }
  .poster-info {
    @include flexx($dir: row, $justify: center, $align: flex-start);
    gap: 50px;
    &__filter {
      width: 10%;
      border: 1px solid white;
      border-radius: 10%;
      padding: 15px;
    }
    &__pick {
      @include flexx($dir: row, $justify: space-between, $align: flex-start);
      margin-bottom: 10px;
      cursor: pointer;
      &::after {
        content: "";
        background-color: #fff;
        height: 1px;
        width: 100%;
      }
    }
    &__order {
      cursor: pointer;
      &::after {
        display: block;
        content: "";
        background-color: #fff;
        height: 1px;
        width: 100%;
      }
    }
    &__results {
      width: 75%;
      &__banner {
        @include flexx($dir: row, $justify: flex-start, $align: flex-start);
        gap: 30px;
        margin-bottom: 50px;

        & .imgPoster {
          width: 15%;
          height: 10%;
        }
        &__details {
          width: 60%;
          & p > button {
            background-color: $primaryFontColor;
            color: $secondaryFontColor;
            padding: 2px;
            margin-left: 3px;
            // border: 1px solid $secondaryFontColor;
            border-radius: 25px;
            font-size: 0.7em;
            &.none {
              display: none;
            }
          }
          &__poster-btn {
            @include flexx($dir: row, $justify: flex-start, $align: center);
            gap: 30px;
            transition: $transition;
          }
        }
      }
    }
  }
}
