@import "../../components/Styles/mixins";

.favMenu {
  @include flexx($dir: row, $justify: space-between, $align: center);
  padding: 10px;
  &__img {
    width: 25%;
    img {
      width: 100%;
    }
  }
  &__title {
    width: 40%;
  }
  &__watch {
    width: 15%;
  }
  &__removeItem {
    width: 13%;
    cursor: pointer;
  }
}
