@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/***** colors ****/
.heroImg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  height: 84vh;
  background-color: black;
  position: relative;
  overflow: hidden;
}
.heroImg__title {
  width: 20%;
  height: 20%;
  left: 30%;
  position: absolute;
  z-index: 99;
}
.heroImg__left {
  background-image: url("../../img/BreakingBad.jpg");
  background-size: cover;
  background-position: center;
  width: 55%;
  height: 83vh;
  transform-origin: top right;
  transform: skew(-20deg, 0deg);
  opacity: 0.9;
  transition: linear 1.5s;
}
.heroImg__left__btnHero {
  position: absolute;
  bottom: 12%;
  right: 30%;
  font-size: 1.3rem;
  padding: 20px 40px;
  text-decoration: none;
}
.heroImg__right {
  background-image: url("../../img/JW4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 83vh;
  width: 55%;
  transform-origin: bottom left;
  transform: skew(-20deg, 0deg);
  opacity: 0.9;
  transition: linear 1.5s;
}
.heroImg__right__btnHero {
  position: absolute;
  bottom: 11%;
  left: 40%;
  font-size: 1.3rem;
  transform-origin: 0%;
  transform: skew(0deg, 0deg);
  padding: 20px 40px;
  text-decoration: none;
}
.heroImg__left1 {
  background-image: url("../../img/BreakingBad.jpg");
  background-size: cover;
  background-position: center;
  width: 1%;
  height: 83vh;
  transform-origin: top right;
  transform: skew(-25deg, 0deg);
  opacity: 0.9;
  transition: linear 1.5s;
}
.heroImg__left1__btnHero {
  position: absolute;
  bottom: 12%;
  left: 250%;
  font-size: 1.3rem;
  transform: skew(0deg);
  padding: 20px 40px;
  text-decoration: none;
  z-index: 99;
}
.heroImg__right1 {
  background-image: url("../../img/JW4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 83vh;
  width: 100%;
  transition: linear 1.5s;
  z-index: 0;
}
.heroImg__right1__btnHero {
  visibility: hidden;
  position: absolute;
  bottom: 11%;
  left: 40%;
  font-size: 1.3rem;
  transform-origin: 0%;
  transform: skew(0deg, 0deg);
  padding: 20px 40px;
  text-decoration: none;
}
.heroImg__left2 {
  background-image: url("../../img/BreakingBad.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 83vh;
  opacity: 0.9;
  transition: linear 1.5s;
}
.heroImg__left2__btnHero {
  position: absolute;
  bottom: 12%;
  left: 50%;
  font-size: 1.3rem;
  transform: skew(0deg);
  padding: 20px 40px;
  text-decoration: none;
}
.heroImg__right2 {
  background-image: url("../../img/JW4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 83vh;
  width: 0%;
  transition: linear 1.5s;
  opacity: 0.9;
}
.heroImg__right2__btnHero {
  position: absolute;
  bottom: 11%;
  left: 40%;
  font-size: 1.3rem;
  transform-origin: 0%;
  transform: skew(0deg, 0deg);
  padding: 20px 40px;
  text-decoration: none;
}/*# sourceMappingURL=HeroImage.css.map */