@import "../../components/Styles/mixins";
@import "../../components/Styles/variables";

.heroImg {
  @include flexx($dir: row, $justify: center, $align: center);
  flex-wrap: nowrap;
  margin: $marginCenter;
  height: 84vh;
  // width: 100%;
  background-color: $secondaryFontColor;
  position: relative;
  overflow: hidden;

  &__title {
    width: 20%;
    height: 20%;
    left: 30%;
    position: absolute;
    z-index: 99;
    mix-blend-mode: overlay;
  }
  &__left {
    background-image: url("../../img/BreakingBad.jpg");
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 83vh;
    transform-origin: top right;
    transform: skew(-20deg, 0deg);
    opacity: 0.9;
    transition: linear 1.5s;

    &__btnHero {
      position: absolute;
      bottom: 12%;
      right: 30%;
      font-size: 1.3rem;
      // transform: skew(-10, 10deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right {
    // background-image: url('../../img/BreakingBad.jpg');
    background-image: url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 83vh;
    width: 55%;
    transform-origin: bottom left;
    transform: skew(-20deg, 0deg);
    // position: absolute;
    // left: 40%;
    opacity: 0.9;
    transition: linear 1.5s;

    &__btnHero {
      position: absolute;
      bottom: 11%;
      left: 40%;
      font-size: 1.3rem;
      transform-origin: 0%;
      transform: skew(0deg, 0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__left1 {
    background-image: url("../../img/BreakingBad.jpg");
    // background-image: url('../../img/login-bckground-image.jpg');
    background-size: cover;
    background-position: center;
    width: 1%;
    height: 83vh;
    transform-origin: top right;
    transform: skew(-25deg, 0deg);
    opacity: 0.9;
    transition: linear 1.5s;
    &__btnHero {
      position: absolute;
      bottom: 12%;
      left: 250%;
      font-size: 1.3rem;
      transform: skew(0deg);
      padding: 20px 40px;
      text-decoration: none;
      // transform: translate(350px, 50px);
      z-index: 99;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right1 {
    // background-image: url('../../img/BreakingBad.jpg');
    background-image: url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 83vh;
    width: 100%;
    // transform-origin: bottom left;
    // transform: skew(-25deg, 0deg);
    // position: absolute;
    // left: 40%;
    transition: linear 1.5s;
    // opacity: 0.2;
    z-index: 0;

    &__btnHero {
      visibility: hidden;
      position: absolute;
      bottom: 11%;
      left: 40%;
      font-size: 1.3rem;
      transform-origin: 0%;
      transform: skew(0deg, 0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__left2 {
    background-image: url("../../img/BreakingBad.jpg");
    // background-image: url('../../img/login-bckground-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 83vh;
    // transform-origin: top right;
    // transform: skew(-25deg, 0deg);
    opacity: 0.9;
    transition: linear 1.5s;
    &__btnHero {
      position: absolute;
      bottom: 12%;
      left: 50%;
      font-size: 1.3rem;
      transform: skew(0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right2 {
    // background-image: url('../../img/BreakingBad.jpg');
    background-image: url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 83vh;
    width: 0%;
    // transform-origin: bottom left;
    // transform: skew(-25deg, 0deg);
    // position: absolute;
    // left: 40%;
    transition: linear 1.5s;
    opacity: 0.9;
    &__btnHero {
      position: absolute;
      bottom: 11%;
      left: 40%;
      font-size: 1.3rem;
      transform-origin: 0%;
      transform: skew(0deg, 0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
