@import "../../components/Styles/mixins";
@import "../../components/Styles/variables";

.heroImg {
  @include flexx($dir: row, $justify: space-between, $align: center);
  flex-wrap: nowrap;
  margin: $marginCenter;
  height: 84vh;
  // width: 100%;
  background-color: $secondaryFontColor;
  position: relative;
  overflow: hidden;

  &__title {
    width: 400px;
    top: 2%;
    left: 37%;
    position: absolute;
    z-index: 99;
    text-align: center;
    color: $primaryFontColor;
    // mix-blend-mode: overlay;
    &--none {
      display: none;
    }
    & .title__welcome {
      font-size: 2.7rem;
    }
  }
  &__arrow {
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 50%;
    // height: 100px;
    // width: 100px;
    svg {
      width: 100%;
      height: 1.2em;
    }
  }
  &__left {
    background-image: linear-gradient(
      to right,
      rgba(200, 188, 21, 0.7),
      rgba(237, 226, 15, 0.7)
    );
    // url("../../img/BreakingBad.jpg");
    // url(https://image.tmdb.org/t/p/original${ex.backdrop_path});

    background-size: cover;
    background-position: center;
    width: 50%;
    height: 84vh;
    // transform-origin: top right;
    // transform: skew(-13deg, 0deg);
    transition: linear 1.5s;
    &__tv-info {
      width: 600px;
      position: absolute;
      bottom: 13%;
      // left: 1%;
    }
    &__btnHero {
      position: absolute;
      bottom: 12%;
      left: 30%;
      font-size: 1.3rem;
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right {
    background-image: linear-gradient(
        to left,
        rgba(131, 39, 39, 0.3),
        rgba(166, 21, 21, 0.3)
      ),
      url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 84vh;
    width: 50%;
    // transform-origin: bottom left;
    // transform: skew(-13deg, 0deg);
    transition: linear 1.5s;
    &__movie-info {
      @extend .heroImg__left__tv-info;
      text-align: end;
      right: 1%;
      // width: 600px;
      // position: absolute;
      // bottom: 13%;
    }
    &__btnHero {
      @extend .heroImg__left__btnHero;
      // position: absolute;
      // bottom: 12%;
      left: 60%;
      // right: 30%;
      // font-size: 1.3rem;
      // padding: 20px 40px;
      // text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__left--transition-movie {
    background-image: url("../../img/BreakingBad.jpg");
    // background-image: url('../../img/login-bckground-image.jpg');
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 84vh;
    // transform-origin: top right;
    // transform: skew(-25deg, 0deg);
    opacity: 0.9;
    transition: linear 1.5s;
    &__tv-info {
      display: none;
    }
    &__btnHero {
      position: absolute;
      transform: translateY(-10px);
      bottom: 11%;
      left: 10%;
      font-size: 1.3rem;
      padding: 20px 40px;
      text-decoration: none;
      // transform: translate(350px, 50px);
      z-index: 99;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right--transition-movie {
    // background-image: url('../../img/BreakingBad.jpg');
    background-image: url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 84vh;
    width: 100%;
    // transform-origin: bottom left;
    // transform: skew(-25deg, 0deg);
    // position: absolute;
    // left: 40%;
    transition: linear 1.5s;
    // opacity: 0.2;
    z-index: 0;
    &__movie-info {
      @extend .heroImg__right__movie-info;
    }
    &__btnHero {
      visibility: hidden;
      position: absolute;
      bottom: 12%;
      right: 10%;
      font-size: 1.3rem;
      // transform-origin: 0%;
      // transform: skew(0deg, 0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  &__left--transition-tv {
    background-image: url("../../img/BreakingBad.jpg");
    // background-image: url('../../img/login-bckground-image.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 84vh;
    // transform-origin: top right;
    // transform: skew(-25deg, 0deg);
    opacity: 0.9;
    transition: linear 1.5s;
    &__tv-info {
      @extend .heroImg__left__tv-info;
    }
    &__btnHero {
      visibility: hidden;
      position: absolute;
      bottom: 11%;
      left: 10%;
      font-size: 1.3rem;
      transform: skew(0deg);
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  &__right--transition-tv {
    // background-image: url('../../img/BreakingBad.jpg');
    background-image: url("../../img/JW4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 84vh;
    width: 40%;
    // transform-origin: bottom left;
    // transform: skew(-25deg, 0deg);
    // position: absolute;
    // left: 40%;
    transition: linear 1.5s;
    opacity: 0.9;
    &__movie-info {
      display: none;
    }
    &__btnHero {
      position: absolute;
      // transform: translateY(-10px);
      bottom: 12%;
      right: 10%;
      font-size: 1.3rem;
      padding: 20px 40px;
      text-decoration: none;
    }
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
