@import "../../components/Styles/variables";
@import "../../components/Styles/mixins";

.view-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-image: `url({https://image.tmdb.org/t/p/original${movie.poster_path}})`;
  &__about-movie {
    @include flexx($dir: row, $justify: center, $align: center);
    height: 400px;
    position: absolute;
    top: 22%;
    width: 100%;
    opacity: 0.8;
    font-weight: bold;
    background-color: $primaryFontColor;
    border: 1px solid $secondaryFontColor;
    gap: 40px;
    padding: 20px;
    &__picture {
      width: 20%;
    }
    &__details {
      @include flexx($dir: column, $justify: center, $align: start);
      width: 50%;
      gap: 10px;
      &__ratings {
        @include flexx($dir: row, $justify: center, $align: center);
        gap: 20px;
      }
      &__btn {
        @include flexx($dir: row, $justify: space-between, $align: center);
        width: 40%;
        margin-top: 20px;
        & .red {
          background-color: $redBckGround;
          opacity: 1 !important;
          // child nece da ima veci opacity od parent-a
        }
      }
    }
  }
}
