.container {
  width: $containerWidth;
  margin: $marginCenter;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin: $marginCenter;
}

.btnPrimary {
  display: inline-block;
  background-color: $orangeYellow;
  color: $primaryFontColor;
  padding: 15px;
  border: none;
  border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: $secondaryFontColor;
    // border: 1px solid $secondaryFontColor;
  }
}

.redColorBtn {
  background-color: $red;
}

.loader {
  border: 10px solid #ffff;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-top: 10px solid $navyBckGround;
  position: absolute;
  top: 45%;
  left: 45%;
  animation: spin 2s linear infinite;
}

.imgPoster {
  width: 100%;
  height: 40vh;
  border-radius: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ticTac {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
// .btnLogin {
//     padding: 5px;
//     background-color: $navyBckGround;
//     color: $primaryFontColor;
//     border: 1px solid $navyBckGround;
//     border-radius: 10px;
//     text-transform: capitalize;
//     font-size: 1.1rem;
//     cursor: pointer;
//     transition: $transition;
//     &:hover {
//         background-color: $hoverLinkColor;
//     }

// }
