@mixin flexx($dir: row, $justify: space-between, $align: center) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile {
  @media only screen and (max-width: 481px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 481px) and (max-width: 769px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 769px) and (max-width: 1025px) {
    @content;
  }
}
