@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
$fontLogo: "Permanent Marker";
$fontFamily: "Poppins", sans-serif;
$fontSize: 16px;
$containerWidth: 90%;
$marginCenter: 0 auto;
$fontWeight700: 700;

/***** colors ****/
$primaryFontColor: #f3f3f3;
$secondaryFontColor: #212121;
$redBckGround: #df3232;
$blueBckGround: #0071dc;
$yellowBckGround: #ffd460;
$orangeBckGround: #f07b3f;
$lightGray: #edecece7;
$hoverLinkColor: #004f9a;
$navyBckGround: #2d4059;
// $navLinkColor: #000080;
// Nove boje
$orangeYellow: #f7bb0d;
$red: #ef0003;
$black: #29282d;

$transition: 0.3s ease-in-out;
