@import "../../Styles/variables";

.scroll {
  position: fixed;
  bottom: 5%;
  right: 3%;
  padding: 10px;
  cursor: pointer;
  background-color: $primaryFontColor;
  svg {
    color: $secondaryFontColor;
  }
}
